
services:
    web:
        volumes:
            - ./:/var/www/html/
            - ./etc/cert/:/etc/cert/
            - ./etc/apache2/sites-available/wbengine.conf:/etc/apache2/sites-available/wbengine.conf
            - ./etc/php/custom.ini:/usr/local/etc/php/conf.d/custom.ini
        build:
            context: .
            dockerfile: Dockerfile
        container_name: php8.3-apache2
        restart: always
        depends_on:
            - db
        ports:
            - 443:443
    db:
        container_name: mysql-8.4
        image: mysql:8.4
        # image: mariadb:10.9.4
        restart: always
        volumes:
            - ./Schemas/wbengine_skeletone_app_mysql_template.sql:/docker-entrypoint-initdb.d/wbengine_skeletone_app_mysql_template.sql
            - ./etc/mysql/config.cnf:/etc/mysql/conf.d/custom.cnf
        environment:
            MYSQL_ROOT_PASSWORD: root_password
            MYSQL_DATABASE: wbengine_skeleton_app
            MYSQL_USER: dev_user
            MYSQL_PASSWORD: dev_password
        ports:
            - 3306:3306
        security_opt:
            - seccomp:unconfined

    # adminer:
    #     image: dockette/adminer:dg  # use latest tag for latest version
    #     restart: always
    #     ports:
    #         - 8080:80
        # volumes:
        #     - ./adminer/adminer.css:/var/www/html/adminer.css:ro